#  ---------------------------------------------------------------------------
#
#  Description:  Andy's customized .gitconfig
#
#  Resources/References:
#  http://git-scm.com/docs/git-config
#  https://gist.github.com/pksunkara/988716
#
#  https://github.com/blog/2019-how-to-undo-almost-anything-with-git
#
# 	1. Personal
# 	2. Tools
# 	3. URL insteadOf
# 	4. Colours
# 	5. Aliases
# 	6. Config
#  ---------------------------------------------------------------------------

# ==================================
# 1. Personal
# ==================================

[user]
	name = Andy Tung
	email = andyytung@gmail.com

[core]
	autocrlf = input
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/dotfiles/.gitignore_global

[github]
	user = andytung

[bitbucket]
	user = andytung

# ==================================
# 2. Tools
# ==================================

[web]
	browser = firefox

[diff]
    tool = Kaleidoscope

[difftool]
  prompt = false

[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"

[difftool "Kaleidoscope"]
 	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = Kaleidoscope

[mergetool]
 	prompt = false

[mergetool "meld"]
  	trustExitCode = true
  	cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output \"$PWD/$MERGED\"

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

# ==================================
# 3. URL insteadOf
# ==================================

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://github.com/andyytung/"]
    insteadOf = andy_gh:

# ==================================
# 4. Colours
# ==================================

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green

[color "status"]
    added = green
    changed = yellow
    untracked = red

# ==================================
# 5. Aliases
# ==================================

[alias]
	comend = commit --amend --no-edit
	st = status
	stat = !git --no-pager diff --stat
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	nuke = !git reset --hard HEAD && git clean -d -f
	sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = diff --name-only --diff-filter=U
	hash = "!f() { git rev-parse --short HEAD | tee /dev/tty | pbcopy; }; f"
	unstage = reset HEAD --
	list = log --graph --all --pretty=format:'%C(green)%h%C(cyan)%d%C(reset) %s %C(dim)- %an, %C(reset)%C(red)%ar%C(reset)'
	last = log -1 HEAD
	progress = !git --no-pager diff --stat 4b825dc642cb6eb9a060e54bf8d69288fbee4904
	up = !git fetch && git rebase --autostash FETCH_HEAD
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	# Serve local repo. http://coderwall.com/p/eybtga
	# Then other can access via `git clone git://#{YOUR_IP_ADDRESS}/
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git

# ==================================
# 6. Config
# ==================================

[help]
  autocorrect = true

[branch "master"]
#	mergeoptions = --no-ff

[pager]
	log = less
	diff = diff-highlight | less
	show = diff-highlight | less

[interactive]
	diffFilter = diff-highlight

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[commit]
	template = ~/dotfiles/.git-commit-template.txt
	verbose = true

[push]
	default = simple

[credential]
	helper = osxkeychain
