"*":
  "atom-beautify":
    _analyticsUserId: "5ee9fbe0-8ad0-4692-beac-b90911fbc5eb"
  "atom-ternjs":
    displayAboveSnippets: true
    useSnippets: true
  "atom-typescript": {}
  "autocomplete-plus": {}
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    ignoredNames: [
      ".git"
      ".gh"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
    projectHome: "/Users/Pacified/Workspace/"
    themes: [
      "unity-dark-ui"
      "kuali-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
  emmet: {}
  "exception-reporting":
    userId: "b753a187-8471-fafe-7193-443778e18972"
  "file-icons":
    forceShow: true
  linter: {}
  "linter-jshint": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  pigments:
    markerType: "dot"
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
